In [1]:
# Add the Pandas dependency.
import pandas as pd

In [2]:
df = pd.read_csv(r'C:\Users\Granger\Desktop\Data Tables_03_Final_Project\CO2.csv')
print(df)

        country_code            area  year_pc  category_code  \
0                  0     Afghanistan     2000              1
1                  0     Afghanistan     2000              3
2                  0     Afghanistan     2000              4
3                  0     Afghanistan     2000              4
4                  0     Afghanistan     2000              4
...              ...             ...      ...            ...
328008           901  Sudan (former)     2011             35
328009           901  Sudan (former)     2011             39
328010           901  Sudan (former)     2011             39
328011           901  Sudan (former)     2011             41
328012           901  Sudan (former)     2011             42

       food_product_categories  production  total_kgs_CO2
0                       Apples    40540.06   5.878309e+04
1                Barley (Beer)    74000.00   1.724200e+05
2             Beef (beef herd)     3090.57   9.315287e+05
3             Beef (beef herd)    22109.43   6.664003e+06
4             Beef (beef herd)   126000.00   3.797766e+07
...                        ...         ...            ...
328008         Root Vegetables   225000.00   3.622500e+05
328009           Sunflower Oil    37008.12   1.874831e+06
328010           Sunflower Oil   124000.00   6.281840e+06
328011                Tomatoes   529200.00   3.974292e+06
328012     Wheat & Rye (Bread)   292000.00   2.090720e+06

[328013 rows x 7 columns]

grouped_df = df.groupby(['country_code', 'year_pc', 'category_code']).sum(['production', total_kgs_CO2'])
print(grouped_df)