In [1]:
import pandas as pd
from pathlib import Path
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression

In [28]:
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import confusion_matrix
from imblearn.metrics import classification_report_imbalanced
from sklearn import metrics as ms

In [3]:
# Read in the files
df=pd.read_csv('..//ML_Table.csv')
df.head()

,country_code,area,year_pc,CO2_emissions_tonnes,Population,category_code_1,food_product_categories_1,production_tonnes_1,total_kgs_CO2_1,category_code_2,...,production_tonnes_41,total_kgs_CO2_41,category_code_42,food_product_categories_42,production_tonnes_42,total_kgs_CO2_42,category_code_43,food_product_categories_43,production_tonnes_43,total_kgs_CO2_43
0,0,Afghanistan,2000,71679740.0,19542982.0,1,Apples,40540.06,58783.0870,2,...,0.0,0.0,42,Wheat & Rye (Bread),1470000.0,10518040.0,43,Wine,0.0,0.0
1,0,Afghanistan,2001,72477702.0,19688632.0,1,Apples,39541.74,57335.5230,2,...,0.0,0.0,42,Wheat & Rye (Bread),1600000.0,11434520.0,43,Wine,0.0,0.0
2,0,Afghanistan,2002,73529311.0,21000256.0,1,Apples,35630.08,51663.6160,2,...,0.0,0.0,42,Wheat & Rye (Bread),2690000.0,19231760.0,43,Wine,0.0,0.0
3,0,Afghanistan,2003,74715262.0,22645130.0,1,Apples,28042.99,40662.3355,2,...,0.0,0.0,42,Wheat & Rye (Bread),3480000.0,24916800.0,43,Wine,0.0,0.0
4,0,Afghanistan,2004,75604429.0,23553551.0,1,Apples,16691.83,24203.1535,2,...,0.0,0.0,42,Wheat & Rye (Bread),2390000.0,17112400.0,43,Wine,0.0,0.0

In [8]:
# Set variables
y = df ['CO2_emissions_tonnes']
X = df [['total_kgs_CO2_1','total_kgs_CO2_2','total_kgs_CO2_3','total_kgs_CO2_4','total_kgs_CO2_6','total_kgs_CO2_','total_kgs_CO2_8','total_kgs_CO2_9','total_kgs_CO2_10','total_kgs_CO2_11','total_kgs_CO2_12','total_kgs_CO2_13','total_kgs_CO2_14','total_kgs_CO2_15','total_kgs_CO2_18','total_kgs_CO2_19','total_kgs_CO2_20','total_kgs_CO2_21','total_kgs_CO2_22','total_kgs_CO2_23','total_kgs_CO2_24','total_kgs_CO2_25','total_kgs_CO2_26','total_kgs_CO2_27','total_kgs_CO2_28','total_kgs_CO2_29','total_kgs_CO2_30','total_kgs_CO2_31','total_kgs_CO2_32','total_kgs_CO_33','total_kgs_CO2_34','total_kgs_CO2_35','total_kgs_CO2_37','total_kgs_CO2_39','total_kgs_CO2_40','total_kgs_CO2_41','total_kgs_CO2_42','total_kgs_CO2_43']]
X.shape

(4201, 38)

In [9]:
# Split data into training and testing
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)
X_train.shape

(3150, 38)

In [17]:
# Fitting Random Forest Regression to the dataset
from sklearn.ensemble import RandomForestRegressor
regressor = RandomForestRegressor(n_estimators = 10, random_state = 0)
regressor.fit(X_train, y_train)

RandomForestRegressor(n_estimators=10, random_state=0)

In [20]:
y_pred = regressor.predict(X_test)
y_pred

array([4.52797702e+07, 3.78274272e+07, 4.98235618e+07, ...,
       8.63382350e+10, 4.04652160e+06, 2.01340464e+07])

In [21]:
pred_df = pd.DataFrame({'Real Values':y_test, 'Predicted Values':y_pred})
pred_df

       Real Values  Predicted Values
3604  4.245974e+07      4.527977e+07
781   3.788563e+07      3.782743e+07
2165  4.881502e+07      4.982356e+07
1217  4.942875e+07      4.399466e+07
1006  7.199476e+08      1.518572e+09
...            ...               ...
2907  2.624575e+10      4.270512e+10
3630  3.550416e+06      3.275250e+06
3000  8.785206e+10      8.633823e+10
982   4.187952e+06      4.046522e+06
1176  1.725011e+07      2.013405e+07

[1051 rows x 2 columns]

In [23]:
# List the features sorted in descending order by feature importance
importance_sorted_idx = regressor.feature_importances_.argsort()[::-1]
for i in importance_sorted_idx:
    print(f"{X.columns[i]}: ({brf.feature_importances_[i]})")

total_kgs_CO2_32: (0.040330214275450964)
total_kgs_CO2_19: (0.03269564544119355)
total_kgs_CO2_3: (0.03124897684935494)
total_kgs_CO_33: (0.018587147645349654)
total_kgs_CO2_39: (0.01670871857884809)
total_kgs_CO2_4: (0.03927242844653627)
total_kgs_CO2_8: (0.02755746459206066)
total_kgs_CO2_6: (0.010903793228779135)
total_kgs_CO2_29: (0.02002339726542317)
total_kgs_CO2_31: (0.030135556177606222)
total_kgs_CO2_23: (0.010386863048471135)
total_kgs_CO2_25: (0.04849836300553227)
total_kgs_CO2_18: (0.03668007702238424)
total_kgs_CO2_30: (0.03404831807835963)
total_kgs_CO2_1: (0.016882222814020825)
total_kgs_CO2_15: (0.038767879803003294)
total_kgs_CO2_20: (0.03703638163258076)
total_kgs_CO2_22: (0.01431035427264372)
total_kgs_CO2_21: (0.023320068400621865)
total_kgs_CO2_24: (0.027717950207491713)
total_kgs_CO2_35: (0.0415226731833536)
total_kgs_CO2_: (0.01930147209778548)
total_kgs_CO2_9: (0.02664169547122294)
total_kgs_CO2_11: (0.018685914943141715)
total_kgs_CO2_27: (0.0405186433075222)
total_kgs_CO2_2: (0.032848924899330466)
total_kgs_CO2_37: (0.018988460100251976)
total_kgs_CO2_43: (0.01468129296247533)
total_kgs_CO2_13: (0.018846965241217144)
total_kgs_CO2_28: (0.012366532776504149)
total_kgs_CO2_34: (0.02361515735919)
total_kgs_CO2_42: (0.02189095489169829)
total_kgs_CO2_40: (0.018790558417674148)
total_kgs_CO2_12: (0.02775572178371186)
total_kgs_CO2_41: (0.0318223495547301)
total_kgs_CO2_26: (0.038163467568829025)
total_kgs_CO2_10: (0.022922811477512392)
total_kgs_CO2_14: (0.015524583178137217)

In [30]:
# Import library for metrics
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error

In [33]:
# Mean absolute error (MAE)
mae = mean_absolute_error(y_test, y_pred)

# Mean squared error (MSE)
mse = mean_squared_error(y_test, y_pred)

# R-squared scores
r2 = r2_score(y_test, y_pred)

# Print metrics
print('Mean Absolute Error:', round(mae, 2))
print('Mean Squared Error:', round(mse, 2))
print('R-squared scores:', round(r2, 2))

Mean Absolute Error: 481368602.38
Mean Squared Error: 8.93989705992044e+18
R-squared scores: 0.99

In [34]:
# Fitting Extra Trees Regressor to the dataset
from sklearn.ensemble import ExtraTreesRegressor
etr = ExtraTreesRegressor(n_estimators = 10, random_state = 0)
etr.fit(X_train, y_train)

ExtraTreesRegressor(n_estimators=10, random_state=0)

In [35]:
y_pred = etr.predict(X_test)
y_pred

array([2.26449501e+08, 3.90939604e+07, 4.81097071e+07, ...,
       8.86245140e+10, 3.96682120e+06, 2.10024144e+07])

In [36]:
pred_df = pd.DataFrame({'Real Values':y_test, 'Predicted Values':y_pred})
pred_df

       Real Values  Predicted Values
3604  4.245974e+07      2.264495e+08
781   3.788563e+07      3.909396e+07
2165  4.881502e+07      4.810971e+07
1217  4.942875e+07      2.259480e+08
1006  7.199476e+08      6.803526e+08
...            ...               ...
2907  2.624575e+10      2.686362e+10
3630  3.550416e+06      3.751776e+06
3000  8.785206e+10      8.862451e+10
982   4.187952e+06      3.966821e+06
1176  1.725011e+07      2.100241e+07

[1051 rows x 2 columns]

In [37]:
# List the features of Extra Trees Regressor sorted in descending order by feature importance
importance_sorted_idx = etr.feature_importances_.argsort()[::-1]
for i in importance_sorted_idx:
    print(f"{X.columns[i]}: ({brf.feature_importances_[i]})")

total_kgs_CO2_19: (0.03269564544119355)
total_kgs_CO2_32: (0.040330214275450964)
total_kgs_CO2_3: (0.03124897684935494)
total_kgs_CO2_11: (0.018685914943141715)
total_kgs_CO2_4: (0.03927242844653627)
total_kgs_CO_33: (0.018587147645349654)
total_kgs_CO2_23: (0.010386863048471135)
total_kgs_CO2_18: (0.03668007702238424)
total_kgs_CO2_15: (0.038767879803003294)
total_kgs_CO2_6: (0.010903793228779135)
total_kgs_CO2_8: (0.02755746459206066)
total_kgs_CO2_30: (0.03404831807835963)
total_kgs_CO2_29: (0.02002339726542317)
total_kgs_CO2_27: (0.0405186433075222)
total_kgs_CO2_40: (0.018790558417674148)
total_kgs_CO2_21: (0.023320068400621865)
total_kgs_CO2_10: (0.022922811477512392)
total_kgs_CO2_: (0.01930147209778548)
total_kgs_CO2_20: (0.03703638163258076)
total_kgs_CO2_2: (0.032848924899330466)
total_kgs_CO2_22: (0.01431035427264372)
total_kgs_CO2_25: (0.04849836300553227)
total_kgs_CO2_12: (0.02775572178371186)
total_kgs_CO2_35: (0.0415226731833536)
total_kgs_CO2_39: (0.01670871857884809)
total_kgs_CO2_41: (0.0318223495547301)
total_kgs_CO2_31: (0.030135556177606222)
total_kgs_CO2_42: (0.02189095489169829)
total_kgs_CO2_13: (0.018846965241217144)
total_kgs_CO2_26: (0.038163467568829025)
total_kgs_CO2_24: (0.027717950207491713)
total_kgs_CO2_37: (0.018988460100251976)
total_kgs_CO2_43: (0.01468129296247533)
total_kgs_CO2_34: (0.02361515735919)
total_kgs_CO2_1: (0.016882222814020825)
total_kgs_CO2_9: (0.02664169547122294)
total_kgs_CO2_28: (0.012366532776504149)
total_kgs_CO2_14: (0.015524583178137217)

In [38]:
# Mean absolute error (MAE)
mae = mean_absolute_error(y_test, y_pred)

# Mean squared error (MSE)
mse = mean_squared_error(y_test, y_pred)

# R-squared scores
r2 = r2_score(y_test, y_pred)

# Print metrics
print('Mean Absolute Error:', round(mae, 2))
print('Mean Squared Error:', round(mse, 2))
print('R-squared scores:', round(r2, 2))

Mean Absolute Error: 354679247.23
Mean Squared Error: 3.7943319568033756e+18
R-squared scores: 1.0